@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-barlow);
  --font-mono: var(--font-barlow);
}

@theme {
  --color-primary-yellow: oklch(0.7959 0.162655 88.5378);
  --color-primary-white: oklch(0.975 0.0181 70.25);
  --color-primary-red: oklch(0.3999 0.1641 29.23);
  --color-primary-black: oklch(0 0 0);
  --color-primary-green: oklch(0.3594 0.082 153.78);

  --font-imbue: var(--font-imbue), serif;
  --font-barlow: var(--font-barlow), system-ui, sans-serif;
}

body {
  @apply font-barlow font-light antialiased;
}
